.mainContainer {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.topButtonsContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
}

.topButton {
  width: 70px;
  height: 70px;
  background-image: url('../../images/button_cuadrado_pequeño.jpg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Añade borde redondeado */
}

.topButton i {
  font-size: 32px; /* Aumenta el tamaño del ícono */
  color: white;
}

.topButton:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.topButton:active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.Subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #71401a;
  margin-bottom: 20px;
  text-align: center;
}

.contentContainer {
  width: 70%; /* Aumenta el ancho del contenedor */
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px; /* Reduce el padding */
}

.titleImage {
  width: 80%; /* Ajusta el tamaño de la imagen del título */
  height: auto;
  margin-bottom: 20px; /* Añade un margen inferior */
}

.buttonContainer {
  display: flex;
  gap: 40px; /* Aumenta el espacio entre botones */
  margin-top: 20px;
}

.accessButton {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem; /* Aumenta el tamaño de la fuente */
  padding: 20px 40px; /* Aumenta el padding */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: url('../../images/button_rectangular.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  width: 250px; /* Aumenta el ancho del botón */
  height: 100px; /* Aumenta la altura del botón */
}

.accessButton:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.accessButton:active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.characterContainer {
  position: absolute;
  bottom: 20px; /* Aumenta la distancia desde la parte inferior */
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterImage {
  width: 400px; /* Aumenta el tamaño de la imagen del personaje */
  height: auto;
  margin-top: 20px; /* Añade un margen superior para separar de la burbuja */
}

.speechBubble {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #A05A25; /* Añade un borde a la burbuja */
  border-radius: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px; /* Ajusta el ancho máximo de la burbuja */
  font-size: 1.5rem; /* Aumenta el tamaño de la letra */
  color: #A05A25;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.speechBubble:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}

.bubbleButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.welcomeText {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #A05A25;
  text-align: center;
}

.soundButton, .hideButton, .showButton {
  background-image: url('../../images/button_cuadrado_pequeño.jpg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 50px;
  height: 50px;
}

.soundButton i, .hideButton i, .showButton i {
  font-size: 24px;
  color: white;
}

.soundButton:hover, .hideButton:hover, .showButton:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.soundButton:active, .hideButton:active, .showButton:active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.showButton {
  position: absolute;
  top: 25%; /* Ajusta la altura para que esté más arriba */
  left: 20px;
}

/* Añade las burbujas de pensamiento */
.bubble {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #A05A25;
}

.bubble:nth-child(2) {
  bottom: 80px;
  left: 70px;
  width: 15px;
  height: 15px;
}

.bubble:nth-child(3) {
  bottom: 110px;
  left: 90px;
  width: 10px;
  height: 10px;
}

/* Contenedor de logos */
.logosContainer {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

.logo {
  width: 120px; /* Ajusta el tamaño de los logos */
  height: auto;
}
