/* Asegúrate de que la ruta de la imagen sea correcta */
.main-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  width: 60%; /* Puedes ajustar manualmente el ancho */
  height: auto; /* Altura automática según el contenido */
  background-color: rgba(255, 255, 255, 0.7); /* Cuadro con transparencia */
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* Asegurar que los botones estén debajo del título */
  align-items: center;
  text-align: center;
  padding-bottom: 140px; /* Ajuste manual de la posición vertical */
  padding-top: 140px; /* Ajuste manual de la posición vertical */
  padding-left: 50px;
  padding-RIGHT: 50px;
}

#game-title1 {
  font-family: 'Poppins', sans-serif; /* Letra más gordita y en negrita */
  font-weight: 700; /* Negrita */
  font-size: 4.6rem; /* Tamaño grande para que puedan observarlo */
  color: #A05A25; /* Usando uno de los colores extraídos de la imagen */
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 620px; /* Ajuste manual de la posición vertical de los botones*/
}

.access-button {
  font-family: 'Poppins', sans-serif; /* Letra adecuada para niños */
  font-size: 2rem; /* Tamaño suficientemente grande */
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.access-button.terapista-btn {
  background-color: #2D817A; /* Usando otro color extraído de la imagen */
  color: white;

}

.access-button.guest-btn {
  background-color: #d64439; /* Usando otro color extraído de la imagen */
  color: white;
  margin-left: 190px; /* Ajuste manual de la posición horizontal */

}

.access-button.terapista-btn:hover {
  transform: scale(1.1);
  background-color: #67B97D; /* Cambiando el color de fondo al hacer hover */
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3); /* Sombreado más pronunciado */
}

.access-button.guest-btn:hover {
  transform: scale(1.1);
  background-color: #dc544b; /* Cambiando el color de fondo al hacer hover */
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3); /* Sombreado más pronunciado */
}
