.mainContainer {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.topButtonsContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.topButton {
  width: 200px;
  height: 70px;
  background-image: url('../../images/button_rectangular.jpg'); /* Cambiar el fondo */
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white; /* Añadir color de texto blanco */
  font-size: 1.5rem; /* Ajustar tamaño de la fuente */
  font-family: 'Poppins', sans-serif; /* Añadir familia de fuente */
  text-decoration: none; /* Quitar subrayado */
}

.link {
  text-decoration: none; /* Asegurar que el enlace no tenga subrayado */
}

.infoButton {
  width: 70px; /* Ancho para el botón de información */
  height: 70px; /* Altura para el botón de información */
  background-image: url('../../images/button_cuadrado_pequeño.jpg');
}

.infoButton i {
  font-size: 32px; /* Tamaño del ícono para el botón de información */
}

.topButton:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.topButton:active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.Subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #71401a;
  margin-bottom: 20px;
  text-align: center;
}

.contentContainer {
  width: 70%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.titleImage {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.accessButton {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-image: url('../../images/button_rectangular.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  width: 250px;
  height: 100px;
}

.accessButton:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.accessButton:active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.characterContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterImage {
  width: 400px;
  height: auto;
  margin-top: 20px;
}

.speechBubble {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #A05A25;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  font-size: 1.5rem;
  color: #A05A25;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.speechBubble:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}

.bubbleButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.welcomeText {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #A05A25;
  text-align: center;
}

.soundButton {
  background-image: url('../../images/button_cuadrado_pequeño.jpg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 50px;
  height: 50px;
}

.soundButton i {
  font-size: 24px;
  color: white;
}

.soundButton:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.soundButton:active {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.logosContainer {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

.logo {
  width: 120px;
  height: auto;
}
