/* Asegúrate de que la ruta de la imagen sea correcta */
.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/therapist_login_bg.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-container {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; /* Necesario para la posición absoluta del botón de regreso */
}

.vocal-title {
  font-family: 'Poppins', sans-serif; /* Letra más gordita y en negrita */
  font-weight: 700; /* Negrita */
  font-size: 3rem; /* Tamaño grande para que puedan observarlo */
  color: #A05A25; /* Usando uno de los colores extraídos de la imagen */
  margin-bottom: 20px;
}

.vocal-gif {
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button-check, .button-times {
  background-color: #2D817A; /* Usando otro color extraído de la imagen */
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.button-check:hover {
  background-color: #67B97D;
  transform: scale(1.1);
}

.button-times:hover {
  background-color: #dc544b;
  transform: scale(1.1);
}

.reproducir-sonido {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 100px; /* Ajusta la distancia desde la parte inferior de la página a tu gusto */
  left: 50%; /* Centra el botón horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición del botón para que esté perfectamente centrado */
  padding: 10px 20px; /* Ajusta el relleno del botón a tu gusto */
  font-size: 20px; /* Ajusta el tamaño del texto a tu gusto */
  text-align: center;
  background-color: #2D817A; /* Usando otro color extraído de la imagen */
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.reproducir-sonido:hover {
  background-color: #67B97D;
  transform: scale(1.1);
}

.button-container {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.back-button {
  background-color: #A05A25; /* Usando otro color extraído de la imagen */
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.back-button:hover {
  background-color: #71401a;
  transform: scale(1.1);
}
