/* Asegúrate de que la ruta de la imagen sea correcta */
.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/therapist_login_bg.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vocal-menu {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.vocal-menu h1 {
  font-family: 'Poppins', sans-serif; /* Letra más gordita y en negrita */
  font-weight: 700; /* Negrita */
  font-size: 3rem; /* Tamaño grande para que puedan observarlo */
  color: #A05A25; /* Usando uno de los colores extraídos de la imagen */
  margin-bottom: 20px;
}

.vocal-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Esto permite que los botones se pasen a la siguiente línea si no hay suficiente espacio */
  gap: 20px;
}

.vocal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2D817A;
  color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.vocal-button img {
  border-radius: 15px;
  margin-bottom: 10px;
}

.vocal-button:hover {
  transform: scale(1.1);
  background-color: #67B97D;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.button-left {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #A05A25; /* Usando otro color extraído de la imagen */
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.button-left:hover {
  background-color: #71401a;
  transform: scale(1.1);
}
