/* Asegúrate de que la ruta de la imagen sea correcta */
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/therapist_login_bg.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #A05A25; /* Usando uno de los colores extraídos de la imagen */
    margin-bottom: 20px;
  }
  
  .fonemas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .fonema-button {
    background-color: #2D817A; /* Usando otro color extraído de la imagen */
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  }
  
  .fonema-button:hover {
    background-color: #67B97D;
    transform: scale(1.1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
  }
  
  .fonema-button a {
    color: white;
    text-decoration: none;
  }
  
  .fonema-button a:hover {
    color: white;
  }
  