/* Asegúrate de que la ruta de la imagen sea correcta */
.exercise-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/therapist_login_bg.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .exercise-title {
    font-family: 'Poppins', sans-serif; /* Letra más gordita y en negrita */
    font-weight: 700; /* Negrita */
    font-size: 3rem; /* Tamaño grande para que puedan observarlo */
    color: #A05A25; /* Usando uno de los colores extraídos de la imagen */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .exercise-image {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
  }
  
  .button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .exercise-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #2D817A; /* Usando otro color extraído de la imagen */
    color: white;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
  }
  
  .exercise-button i {
    margin-right: 10px;
  }
  
  .correct-button {
    background-color: #67B97D; /* Usando otro color extraído de la imagen */
  }
  
  .incorrect-button {
    background-color: #dc544b; /* Usando otro color extraído de la imagen */
  }
  
  .next-button {
    background-color: #A05A25; /* Usando otro color extraído de la imagen */
  }
  
  .exercise-button:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3); /* Sombreado más pronunciado */
  }
  
  .correct-button:hover {
    background-color: #4caf50; /* Color de hover */
  }
  
  .incorrect-button:hover {
    background-color: #f44336; /* Color de hover */
  }
  
  .next-button:hover {
    background-color: #71401a; /* Color de hover */
  }
  